.vcenter {
  display : flex;
  flex-direction : column;
  align-items:center;
  justify-content:center;
}

.rich-editor {
  resize: vertical;
  overflow: auto;
  min-height:120px;
}

[hidden] {
  display: none;
}
